:root {
  --lg-color: #a50034;
  --lg-color-hover: #c7003f;
  --lg-info-color: #6b6b6b;
  --lg-background-section-color: #f8f8f8;
  --lg-footer-color: #333;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/*Navbar*/
.navbar {
  background-color: var(--lg-background-section-color);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 16px;
  position: absolute;
}

.primary-icon {
  width: 98px;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 4px 8px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--lg-color);
  border-bottom: 1px solid var(--lg-color);
}

.contact {
  display: inline-block;
  width: 112px;
  border: none;
  background-color: var(--lg-color);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}

.contact a {
  text-decoration: none;
  font-size: 16px;
  color: var(--lg-background-section-color);
}

.contact a:hover {
  color: white;
}

.contact a img {
  width: 24px;
  vertical-align: middle;
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: var(--lg-color);
  margin-bottom: 4px;
}
/*Navbar*/

/*Header*/
header {
  height: 90vh;
  background: url('../Assets/lg-home.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 7vmin;
  color: var(--lg-footer-color);
}

.header-content h2 {
  font-size: 3vmin;
  color: var(--lg-footer-color);
  margin-bottom: 2rem;
}
/*Header*/

.llamar {
  text-align: center;
  background-color: var(--lg-info-color);
}

.llamar a {
  font-size: 32px;
  text-decoration: none;
  color: var(--lg-background-section-color);
}

.llamar img {
  width: 24px;
}

/*Services*/
.services-column {
  float: left;
  width: 16%;
  padding: 0 5px;
  margin: 5px 0;
}

#services h3 {
  font-size: 5vmin;
  text-align: center;
  margin: 15px 5px;
}

/* Remove extra left and right margins, due to padding */
.services-row {
  width: 100%;
}

/* Clear floats after the columns */
.services-row:after {
  content: "";
  display: table;
  clear: both;
}

.services-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: var(--lg-background-section-color);
}

.services-card h4 {
  color: var(--lg-footer-color);
  font-size: 3vmin;
  margin: 5px;
}

.services-card img {
  width: 50%;
}
/*Services*/

.escribir {
  text-align: center;
  margin: 10px
}

/*help*/
.help-content {
  display: flex;
}

#help h3 {
  font-size: 5vmin;
  text-align: center;
  margin: 15px 5px;
}

.help-column {
  display: inline-block;
  width: 49%;
  padding: 0 5px;
  margin: 5px 0;
}

.help-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: var(--lg-background-section-color);
}

.help-card img {
  width: 100%;
}

.help-services {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: var(--lg-background-section-color);
  margin-top: 16px;
}

.help-services img {
  margin-top: 8px;
  width: 64px
}

/*help*/

/*ubication*/

.ubication h3 {
  font-size: 4vmin;
  text-align: center;
}

.ubication-content iframe {
  width: 100%;
  height: 400px;
}

/*ubication*/

/*payment-methods*/

.payment-methods {
  background-color: #f8f8f8;
  padding: 10px;
}

.payment-methods h3 {
  text-align: center;
  font-size: 4vmin;
  margin-bottom: 10px;
}

.payment-methods .row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.payment-methods .col {
  flex-basis: 12%;
  padding: 4px;
}

.payment-methods .card {
  background-color: #fff;
  padding: 10px;
  width: 200px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.payment-methods img {
  max-width: 100%;
  height: auto;
}

/*payment-methods*/

/*opening-hours*/

.opening-hours {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.opening-hours h3 {
  text-align: center;
  font-size: 4vmin;
  margin-bottom: 10px;
}

.opening-hours ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.opening-hours li {
  font-size: 3vmin;
  margin-bottom: 5px;
}

.whatsapp {
  position:fixed;
  width: 48px;
  height: 48px;
  bottom: 40px;
  right: 24px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  border: 1px solid #fff;
  padding: 5px;
  box-shadow: 5px 10px 8px #888888;
  text-align:center;
  font-size: 32px;
}

.whatsapp-icon {
  color: #fff;
}

footer .container {
  text-align: center;
  font-size: 2vmin;
}

/*opening-hours*/

/*Media max-width 767px*/
@media all and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    position: absolute;
  }

  .navbar a:hover {
    border: none;
  }

  .navbar .container-icon {
    width: 100%
  }

  .menu {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .nav-list {
    list-style-type: none;
    width: 99%;
    text-align: center;
    padding: 0;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    border-top: 1px solid var(--lg-info-color);
  }

  .primary-icon {
    width: 64px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .btn {
    font-size: 16px;
  }
  
  .contact img {
    width: 20px;
  }

  .active {
    display: block;
  }

  header {
    background: url('../Assets/lg-home-pequeña.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .llamar a {
    font-size: 24px;
  }
  
  .llamar img {
    width: 20px;
  }

  .services-column {
    width: 98%;
    display: block;
    margin-bottom: 20px;
  }

  .help-content {
    display: block;
  }

  .help-services img {
    width: 40px
  }

  .help-column {
    width: 98%;
    display: block;
    margin-bottom: 20px;
  }

  .payment-methods .card {
    width: 68px;
    height: 40px;
  }
}
/*Media max-width 767px*/